#For Realtek init mount
allow init self:capability sys_module;
allow init dev_type:blk_file { create read} ;
allow init unlabeled:file execute_no_trans;
#allow init realtek_exec:file entrypoint;
allow init init:file { execute execute_no_trans };
# For Dvdplayer avc: denied { create } for pid=2203 comm="DvdPlayer" scontext=u:r:init:s0 tcontext=u:r:init:s0 tclass=tcp_socket
# avc: denied { listen } for pid=2206 comm="DvdPlayer" lport=7171 scontext=u:r:init:s0 tcontext=u:r:init:s0 tclass=tcp_socket
allow init init:tcp_socket { create_socket_perms listen accept} ;

allow init recovery:file { execute execute_no_trans};

allow init system_server_service:service_manager add;
