# hidraw (runs as nobody)
type hidraw, domain;
type hidraw_exec, exec_type, file_type;
type hidraw_device, dev_type;

# Started by init
init_daemon_domain(hidraw)

# Drop (user, group) to (nobody, nobody)
allow hidraw self:capability { setuid setgid };

# Wake lock access
wakelock_use(hidraw)

# Need to access dir /dev
allow hidraw device:dir { read open };

# Need to r/w /dev/hidraw*
allow hidraw hidraw_device:chr_file rw_file_perms;

# allow to save log
allow hidraw system_data_file:dir {read write open};
allow hidraw system_data_file:chr_file rw_file_perms;
